@import "../../../../assets/styles/global";

.article {
  padding: 80px 0 120px;

  .container-wrapper {
    position: relative;

    .article-sub-header {
      color: #B9D5FD;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 60px;

      a {
        cursor: pointer;
      }

      .slash {
        margin: 0 8px;
        font-family: "Suisse Intl", sans-serif;
        font-size: 14px;
      }

      .sub-header-title {
        color: #709FDC;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .article-share {
      margin-top: 60px;
      display: flex;
      align-items: center;

      .article-share-text {
        color: #709FDC;
        font-size: 14px;
        font-weight: 500;
        margin-right: 20px;
      }

      a {
        cursor: pointer;
        margin-right: 13px;
      }
    }

    .article-comments {
      margin-top: 120px;
      h2 {
        color: #709FDC;
        font-family: Lora, sans-serif;
        font-size: 38px;
        font-weight: 400;
        line-height: 130%; /* 49.4px */
      }

      .no-other-comments {
        margin-top: 20px;
        color: #071739;
        font-size: 14px;
        font-weight: 400;
      }

      .not-logged {
        margin-top: 20px;
        color: #071739;
        font-size: 14px;
        font-weight: 400;

        a {
          color: #709FDC;
          cursor: pointer;
        }
      }

      .article-comments-textarea {
        margin-top: 40px;

        textarea {
          border-radius: 3px;
          border: 2px solid #709FDC;
          background: #FFF;

          width: 818px;
          height: 248px;
          padding: 20px 64px 20px 20px;
          margin-bottom: 20px;
        }

        .button {
          width: 422px;
          height: 51px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
