<section class="blog">
  <div class="container-wrapper">

    <h1 class="blog-title">Блог</h1>

    <div class="blog-head">
      <div class="blog-applied-filters">
        <div class="blog-applied-filter" *ngFor="let category of selectedCategories">
          <span>{{getCategoryName(category)}}</span>
          <a (click)="removeAppliedFilter(category)">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
              <line x1="0.935531" y1="1.15002" x2="12.9563" y2="13.1708" stroke="#709FDC" stroke-linecap="round"/>
              <line x1="12.9236" y1="1.12984" x2="0.902784" y2="13.1507" stroke="#709FDC" stroke-linecap="round"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="blog-filters" (click)="toggleSorting()" [class.open]="sortingOpen">
        <div class="blog-filters-head">
          <span>Фильтр</span>
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path
                d="M10 14.5C9.41668 14.5 8.83335 14.275 8.39168 13.8334L2.95835 8.40003C2.71668 8.15837 2.71668 7.75837 2.95835 7.5167C3.20002 7.27503 3.60002 7.27503 3.84168 7.5167L9.27502 12.95C9.67502 13.35 10.325 13.35 10.725 12.95L16.1583 7.5167C16.4 7.27503 16.8 7.27503 17.0417 7.5167C17.2833 7.75837 17.2833 8.15837 17.0417 8.40003L11.6083 13.8334C11.1667 14.275 10.5833 14.5 10 14.5Z"
                fill="#071739"/>
            </svg>
          </a>
        </div>
        <div class="blog-filters-body">
          <div class="blog-filters-item" [class.active]="selectedCategories.includes(sortingOption.value)" *ngFor="let sortingOption of sortingOptions" (click)="selectCategory(sortingOption.value)">
            {{sortingOption.name}}
            <span *ngIf="!isActive(sortingOption)">+</span>
            <span *ngIf="isActive(sortingOption)">-</span>
          </div>
        </div>
      </div>
    </div>


    <div class="blog-body">
      <app-blog-card *ngFor="let article of articles" [article]="article"></app-blog-card>
    </div>

    <div class="pagination">
      <div class="pagination-arrow pagination-arrow-left" (click)="previousPage()"
           [class.disabled]="currentPage === 1"></div>
      <div class="pagination-pages">
        <a *ngFor="let page of pages" class="pagination-page" [class.active]="page === currentPage"
           (click)="goToPage(page)">{{ page }}</a>
      </div>
      <div class="pagination-arrow pagination-arrow-right" (click)="nextPage()"
           [class.disabled]="currentPage === totalPages"></div>
    </div>

  </div>
</section>
