body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.container-wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.flex-basis {
  flex-basis: auto;
}

.button {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #709FDC;
  box-sizing: border-box;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

}


.form-input {
  border-radius: 3px;
  border: 2px solid #709FDC;
  background: #FFF;
  padding: 20px ;
  color: #709FDC;
  outline: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;

  &::placeholder {
    color: #A8ABA7;
  }
}

